# <span style="color:darkblue"> Lecture 17 - Practicing Chaining </span>

<font size = "5">

In this lecture you will get a chance to practice <br>
the main dataset operations

- There will be a quiz on this lecture

# <span style="color:darkblue"> I. Import Libraries and Data </span>

In [2]:
import numpy as np
import pandas as pd

In [3]:
results  = pd.read_csv("data_raw/results.csv")
races    = pd.read_csv("data_raw/races.csv")
results["points col"] = results["points"]

# <span style="color:darkblue"> II. Review Dataset Operations </span>

<font size = "5">

See attached file for a refresher on syntax

```[] ``` $\qquad \qquad \qquad \quad$: Extracting columns <br>
```.query() ``` $\qquad \qquad $: Subsetting rows <br>
```.recode() ``` $ \qquad \quad \ \ $: Replacing values <br>
```.groupby().agg() ```: Aggregate statistics by subgroup <br>
```.rename() ``` $\qquad \quad \ \ $: Change name of columns

Full list:

<font size = "4">

https://www.w3schools.com/python/pandas/pandas_ref_dataframe.asp

# <span style="color:darkblue"> III. Examples of Chaining </span>

<font size = "5">

The operations with "." are read left to right

- Combine any of the above operations
- Great way to make code efficient
- The sky's the limit!


Subsetting **before** extracting columns

In [4]:
# Get data for drivers that scored more than 20 points on individual races
# Then extract the columns "driverId" and "points"
results.query('points >= 20')[["driverId","points"]]

       driverId  points
20320         4    25.0
20344        18    25.0
20368        20    25.0
20392        18    25.0
20416        17    25.0
...         ...     ...
25740       830    25.0
25760       830    25.0
25780       830    25.0
25800       847    26.0
25820       830    25.0

[262 rows x 2 columns]

<font size = "5">

Subsetting **before** aggregating

In [5]:
# This obtains a subset of drivers who competed in races 500 onwards
# then computes the average by team ("constructorId")

(results.query('raceId >= 500')
        .groupby("constructorId")
        .agg(mean_points = ("points","mean")))

               mean_points
constructorId
1                 3.148148
3                 1.904924
4                 1.903226
5                 1.203911
6                 4.910966
...                    ...
209               0.012821
210               0.809028
211               3.723684
213               2.327869
214               3.693182

[176 rows x 1 columns]

<font size = "5">

Subsetting **after** aggregating

In [6]:
# This obtains the average points by team ("constructorId"), then 
# produces a subset of team whose average is higher than 10

(results.groupby("constructorId")
        .agg(mean_points = ("points","mean"))
        .query('mean_points >= 10'))

               mean_points
constructorId
131              12.363643

<font size = "5">

Chaining inside queries + NaNs

In [ ]:
# "is.na()" produces a True/False vector, checking for missing values
# "is.notna()" produces a True/False vector, checking for non-missing values
# .str.isnumeric() is used for checking whether individual rows of a
# string column are numeric.
results["points"].isna()
results["points"].notna()

subset_nas    = results.query('points.isna()')
subset_nonnas = results.query('points.notna()')

## <span style="color:darkblue"> III. Quiz Structure </span>

<font size = "5">

The day of the quiz I will ...
- Provide a dataset with information
- Give more specific instructions.
- Below, you will see the type of questions that will be asked.
- The idea is for you to apply known concepts to new data
- You have 50 minutes to complete the quiz

Questions

(exact wording may change in quiz, but exercise will be very similar)


<font size = "5">

(a) Replace the values of a column

- Obtain unique string values of a column
- Use the ".replace()" command

In [ ]:
df = pd.read_csv('path_to_dataset.csv')

#(a)1. Obtain unique string values of a column: (unique => 각 새로운 항목만 한번씩 보여줌)
        #You can use the unique() method to get the unique values in a column.
            #For example, if your DataFrame is named df and the column you're interested in is named column_name, use:
unique_values = df['column_name'].unique()
print(unique_values)

#(a)2. Use the ".replace()" command:
        #The replace() method can be used to replace values in a DataFrame. 
            #For example, if you want to replace the value 'old_value' with 'new_value' in the same column, use:
df['column_name'] = df['column_name'].replace('old_value', 'new_value')

        #If multiple values to replace, pass a dictionary to the replace() method. For example:
df['column_name'] = df['column_name'].replace({'old_value1': 'new_value1', 'old_value2': 'new_value2'})

<font size = "5">

(b) Recode a numeric column

- Use the "pd.cut()" command to create <br>
a new column based on an interval.

In [ ]:
#pd.cut
    #Segment and sort data values into bins or categories. 
    #Converting a continuous numerical variable into a categorical variable by grouping the data into different intervals.
bins = [-0.1, 54.9, 59.9, 64.9, 69.9, 74.9, 79.9, 82.9, 86.9, 92.9, 100]
labels = ['F', 'D', 'C-', 'C', 'C+', 'B-', 'B', 'B+', 'A-', 'A']

#Using pd.cut() to assign corresponding letter grades (where 'lettergrade' is the newly created column and 'numericgrade' is a preexisting column)
students['lettergrade'] = pd.cut(students['numericgrade'], bins=bins, labels=labels, right=True)
print(students)

<font size = "5">

(c) Aggregate and query

- Use a combniation of the following commands <br>
to produce a new dataset <br>
``` .query() ``` <br>
``` .groupby().agg() ``` <br>

In [ ]:
#.query()
    #filter rows in a DataFrame based on a query expression
    filtered_df = df.query('column_name > some_value')
        #This will return a new DataFrame filtered_df containing only the rows where the values in column_name are greater than some_value

#.groupby().agg()
    #group the data by one or more columns, and the .agg() method is used to apply aggregation functions to the grouped data
    #.groupby() method groups the data by one or more columns, and the .agg() method applies aggregation functions to the grouped data
    aggregated_df = df.groupby('grouping_column').agg({'aggregating_column': 'aggregation_function'})
        #This will return a new DataFrame aggregated_df where the data is grouped by grouping_column, 
        #and the aggregation_function (e.g., 'sum', 'mean', 'max') is applied to the aggregating_column

#.query() and .groupby().agg()'
    #data = {'category': ['A', 'A', 'B', 'B', 'C', 'C'],
        #'value': [10, 20, 30, 40, 50, 60]}
    #df = pd.DataFrame(data)
    #result = df.query('value > 20').groupby('category').agg({'value': 'sum'})
        #결과 => B:70 & C:110 (Bs with 30 & 40, Cs with 50 & 60)

#Get data for drivers that scored more than 20 points on individual races
#Then extract the columns "driverId" and "points"
results.query('points >= 20')[["driverId","points"]]

#This obtains a subset of drivers who competed in races 500 onwards
#then computes the average by team ("constructorId")
(results.query('raceId >= 500')
        .groupby("constructorId")
        .agg(mean_points = ("points","mean")))

# This obtains the average points by team ("constructorId"), then 
# produces a subset of team whose average is higher than 10
(results.groupby("constructorId")
        .agg(mean_points = ("points","mean"))
        .query('mean_points >= 10'))

<font size = "5">

(d) Aggregate and sort

- Use a combniation of the following commands <br>
to produce a new dataset <br>
``` .groupby().agg() ``` <br>
``` .sort_values() ```

In [ ]:
#.groupby() method groups the data by one or more columns, and the .agg() method applies aggregation functions to the grouped data
#.sort_values() method is used to sort the data by one or more columns. Can specify the sorting order (ascending or descending) using the ascending parameter
result = df.groupby('category').agg({'value': 'sum'}).sort_values(by='value', ascending=False)
    #Where, value is a column, 

#Or, 
#Compute the mean and standard deviation of "laps",
#grouping by "constructorId". Store the new dataset as "df_aggCon_pos"
df_aggCon_pos = (results.groupby("constructorId")
                         .agg(mean_laps=('laps', 'mean'),
                              std_laps=('laps', 'std'))
                         .reset_index())
df_aggCon_pos = df_aggCon_pos.sort_values(by='mean_laps', ascending=False)

<font size = "5">

(e) Rename column

- Create a dictionary
- Rename one or more columns in a dataset <br>
using the dictionary

In [ ]:
#Create a dictionary
    #Create a dictionary where the keys are the old column names and the values are the new column names
rename_dict = {'old_column_name1': 'new_column_name1', 'old_column_name2': 'new_column_name2'}

#Rename columns using the dictionary
    #Use the .rename() method with the columns parameter to rename the columns based on the dictionary:
df.rename(columns=rename_dict, inplace=True)

<font size = "5">

(f) Merge dataset

- Use "pd.merge" to combine two datasets: <br>
a primary and secondary
- Only merge a subset of the columns of the <br>
secondary dataset
- Use "display" to show a the merged dataset,  <br>
extracting a subset of the columns

In [ ]:
#specify which columns to include from each dataset and use the display() function 
#to show a subset of the columns from the merged dataset
    #Use pd.merge() to combine two datasets:
        #Type of merge:
            #Inner Join (how='inner'): 
                #Only the rows with matching keys in both datasets are included in the merged dataset.
                #If a key appears in both datasets, but with different values, only the rows with matching values are included.
            #Outer Join (how='outer'):
                #All rows from both datasets are included in the merged dataset.
                #If there are missing values in one dataset for a key that appears in the other dataset, 
                    #the resulting merged dataset will have NaN in the columns from the dataset where the value is missing.
            #Left Join (how='left'):
                #All rows from the left dataset are included in the merged dataset.
                #If there are keys in the left dataset that do not have a match in the right dataset, 
                    #the resulting merged dataset will have NaN in the columns from the right dataset.
            #Right Join (how='right'):
                #All rows from the right dataset are included in the merged dataset.
                #If there are keys in the right dataset that do not have a match in the left dataset, 
                    #the resulting merged dataset will have NaN in the columns from the left dataset.
        #'on' -> Specify the columns to join
        #Only merge a subset of the columns of the secondary dataset:
            #Select a subset of columns from the secondary dataset before merging
        df_primary = pd.DataFrame(data_primary)
        df_secondary = pd.DataFrame(data_secondary)
        merged_df = pd.merge(df_primary, df_secondary[['id', 'age']], on='id', how='left')

    #Use display() to show a subset of the columns from the merged dataset:
        #Use the display() function to show the merged dataset with only the desired columns.
        display(merged_df[['name', 'age']])